.about-us-main-text{
    font-size:1.8rem;
    font-weight:600;
}
.major-text-about{
    font-size:3rem;
    font-weight:800;
}
.col-lg-6 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.general-section{
    width:100%;
    height:fit-content;
    background-color: whitesmoke;
}